
* {
    max-width: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
    max-width: none;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 100%;
    background: var(--color--base);

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    overflow-x: hidden;
    color: var(--color--base);
    font-family: var(--font-family--text);
    font-size: calc(var(--text--ms1) + 0.2vw);
    line-height: var(--line-height--content);
    font-weight: var(--font--medium);
    font-style: normal;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    background: var(--color--site-background);
    font-feature-settings: "liga" on;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    text-shadow: none;
    background: #cbeafb;
}

hr {
    position: relative;
    display: block;
    width: 100%;
    margin: 1.7em 0 2.25em;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #e3e9ed;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

p,
ul,
ol,
dl,
blockquote {
    margin: 0 0 1em 0;
}

ol,
ul {
    padding-left: 1.3em;
    padding-right: 1.5em;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: 0.5em 0 1em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul,
ol {
    max-width: 100%;
}

li {
    margin: 0.5em 0;
    padding-left: 0.3em;
    line-height: var(--line-height--content);
}

dt {
    float: left;
    margin: 0 20px 0 0;
    width: 120px;
    font-weight: var(--font--medium);
    text-align: right;
}

dd {
    margin: 0 0 5px 0;
    text-align: left;
}

blockquote {
    margin: 0.3em 0 1.8em;
    padding: 0 1.6em 0 1.6em;
    border-left: var(--color--secondary) 0.5em solid;
}

blockquote p {
    margin: 0.8em 0;
    font-size: 1.125em;
    font-weight: var(--font--light);
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.84em;
    opacity: 0.8;
}
/* Quotation marks */
blockquote small:before {
    content: "\2014 \00A0";
}

blockquote cite {
    font-weight: var(--font--bold);
}
blockquote cite a {
    font-weight: var(--font--normal);
}

a {
    color: var(--color--secondary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code,
kbd,
pre,
samp {
    font-family: var(--font--mono);
    line-height: var(--line-height--content);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family--heading);
    margin: 0.4em 0 1em 0;
    color: var(--color--base);
    line-height: var(--line-height--heading);
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: calc(var(--heading--ms6) + 0.2vw);
    font-weight: var(--font--bold);
}

h2 {
    font-size: calc(var(--heading--ms5) + 0.2vw);
    font-weight: var(--font--bold);
}
h3 {
    font-size: calc(var(--heading--ms4) + 0.2vw);
    font-weight: var(--font--medium);
}
h4 {
    font-size: calc(var(--heading--ms3) + 0.2vw);
    font-weight: var(--font--medium);
}
h5 {
    font-size: calc(var(--heading--ms2) + 0.2vw);
    font-weight: var(--font--medium);
}
h6 {
    font-size: calc(var(--heading--ms1) + 0.2vw);
    font-weight: var(--font--medium);
}
