@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,700;1,700&display=swap');

@import '../vendor/bourbon/bourbon';

// Barlow Condensed

@include font-face(
    "Barlow Condensed",
    "fonts/Barlow/BarlowCondensed-Regular",
    ("woff", "woff2")
) {
    font-style: normal;
    font-weight: 400;
    display: swap;
}

@include font-face(
    "Barlow Condensed",
    "fonts/Barlow/BarlowCondensed-Medium",
    ("woff", "woff2")
) {
    font-style: normal;
    font-weight: 500;
    display: swap;
}

@include font-face(
    "Barlow Condensed",
    "fonts/Barlow/BarlowCondensed-MediumItalic",
    ("woff", "woff2")
) {
    font-style: italic;
    font-weight: 500;
    display: swap;
}

@include font-face(
    "Barlow Condensed",
    "fonts/Barlow/BarlowCondensed-SemiBold",
    ("woff", "woff2")
) {
    font-style: normal;
    font-weight: 600;
    display: swap;
}

@include font-face(
    "Barlow Condensed",
    "fonts/Barlow/BarlowCondensed-SemiBoldItalic",
    ("woff", "woff2")
) {
    font-style: italic;
    font-weight: 600;
    display: swap;
}

@include font-face(
    "Barlow Condensed",
    "fonts/Barlow/BarlowCondensed-Bold",
    ("woff", "woff2")
) {
    font-style: normal;
    font-weight: 700;
    display: swap;
}

@include font-face(
    "Barlow Condensed",
    "fonts/Barlow/BarlowCondensed-BoldItalic",
    ("woff", "woff2")
) {
    font-style: italic;
    font-weight: 700;
    display: swap;
}

@include font-face(
    "Barlow Condensed",
    "fonts/Barlow/BarlowCondensed-ExtraBold",
    ("woff", "woff2")
) {
    font-style: normal;
    font-weight: 800;
    display: swap;
}

@include font-face(
    "Barlow Condensed",
    "fonts/Barlow/BarlowCondensed-ExtraBoldItalic",
    ("woff", "woff2")
) {
    font-style: italic;
    font-weight: 800;
    display: swap;
}

@include font-face(
    "Barlow Condensed",
    "fonts/Barlow/BarlowCondensed-Black",
    ("woff", "woff2")
) {
    font-style: normal;
    font-weight: 900;
    display: swap;
}

@include font-face(
    "Barlow Condensed",
    "fonts/Barlow/BarlowCondensed-BlackItalic",
    ("woff", "woff2")
) {
    font-style: italic;
    font-weight: 900;
    display: swap;
}

// Heros

@font-face {
    font-family: 'Heros';
    src: url('fonts/TeXGyreHeros/TeXGyreHeros-Bold.woff2') format('woff2'),
        url('fonts/TeXGyreHeros/TeXGyreHeros-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heros';
    src: url('fonts/TeXGyreHeros/TeXGyreHeros-Italic.woff2') format('woff2'),
        url('fonts/TeXGyreHeros/TeXGyreHeros-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Heros';
    src: url('fonts/TeXGyreHeros/TeXGyreHeros-Regular.woff2') format('woff2'),
        url('fonts/TeXGyreHeros/TeXGyreHeros-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heros';
    src: url('fonts/TeXGyreHeros/TeXGyreHeros-BoldItalic.woff2') format('woff2'),
        url('fonts/TeXGyreHeros/TeXGyreHeros-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
