.viewport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 4vw;
}

.content {
    margin: 0 auto;
    font-size: 1.25rem;
    line-height: 1.7;
}

.content-body {
    display: flex;
    flex-direction: column;
    // font-family: var(--font-serif);
}

.post-full-content {
    max-width: 720px;
    margin: 0 auto;
    background: #fff;
}

.post-feature-image img {
    margin: 0 0 3vw;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

// .content-body h1,
// .content-body h2,
// .content-body h3,
// .content-body h4,
// .content-body h5,
// .content-body h6 {
//     font-family: var(--font-heading);
// }

.content-body h1 {
    margin: 1.0em 0 0.5em 0;
    font-size: ms(6);
    font-weight: 700;
}
@media (max-width: 500px) {
    .content-body h1 {
        font-size: 1.75rem;
    }
}

.content-title {
    font-family: var(--font-family--heading);
    margin: 0 0 0.8em;
    font-size: ms(7);
}
@media (max-width: 500px) {
    .content-title {
        margin: 0.8em 0;
        font-size: 2.125rem;
    }
    .content {
        font-size: 1.125rem;
    }
}

.content-body h2 {
    margin: 0.8em 0 0.4em 0;
    font-size: ms(5);
    font-weight: 700;
}
@media (max-width: 500px) {
    .content-body h2 {
        font-size: 1.625rem;
    }
}

.content-body h3 {
    margin: 0.5em 0 0.2em 0;
    font-size: ms(4);
    font-weight: 700;
}
@media (max-width: 500px) {
    .content-body h3 {
        font-size: 1.375rem;
    }
}

.content-body h4 {
    margin: 0.5em 0 0.2em 0;
    font-size: ms(3);
    font-weight: 700;
}
@media (max-width: 500px) {
    .content-body h4 {
        font-size: 1.375rem;
    }
}

.content-body h5 {
    display: block;
    margin: 0.5em 0;
    padding: 1em 0 1.5em;
    border: 0;
    //font-family: Georgia,serif;
    color: var(--color-primary);
    font-style: italic;
    font-size: ms(2);
    line-height: 1.35;
    text-align: center;
}

.content-body h6 {
    margin: 0.5em 0 0.2em 0;
    font-size: ms(1);
    font-weight: 700;
}

.content-body figure {
    margin: 0.4em 0 1.6em;
    font-size: 1.75rem;
    font-weight: 700;
}

.content-body pre {
    margin: 0.4em 0 1.8em;
    font-size: 1rem;
    line-height: 1.4;
    white-space: pre-wrap;
    padding: 20px;
    background: var(--color-base);
    color: #fff;
    border-radius: 12px;
}

/* Main
/* ---------------------------------------------------------- */

.site-main {
    padding: 4vw 0;
}

/* Index
/* ---------------------------------------------------------- */

.post-feed {
    display: grid;
    justify-content: space-between;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 980px) {
    .post-feed {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 680px) {
    .post-feed {
        grid-template-columns: 1fr;
    }
}
