.viewport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    //max-width: 1120px;
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 4vw;
}

.content {
    --space: calc(var(--heading--ms3) + 0.2vw);
    line-height: var(--line-height--content);
    margin: 0 auto;
}

.content-body {
    --space: calc(var(--text--ms4) + 0.2vw);
}

.content ul *,
.content ol * {
    margin-top: 0;
    margin-bottom: 0;
}

.content ul * + *,
.content ol * + * {
    margin-top: calc(var(--text--ms-3) + 0.2vw);
}

.content p {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    hyphens: auto;
}

.content pre {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content figure {
    margin-left: auto;
    margin-right: auto;
}

.content figcaption {
    margin-top: var(--space);
}

.post-full-content {
    max-width: var(--measure);
    margin: 0 auto var(--heading--ms6) auto; // consider moving this to content
                                             // stack primitive
    background: #fff;
}

.post-feature-image img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.content-title {
    margin: 0 0 calc(var(--heading--ms6) + 0.2vw) 0;
}

.content-body figure {
    font-size: calc(var(--text--ms2) + 0.2vw);
    font-weight: var(--font--bold);
}

.content-body pre {
    font-size: 1rem;
    line-height: 1.4;
    white-space: pre-wrap;
    padding: 20px;
    background: var(--color--base);
    color: #fff;
    border-radius: 12px;
}

/* Main
/* ---------------------------------------------------------- */

.site-main {
    padding: 4vw 0;
}

/* Index
/* ---------------------------------------------------------- */

.post-feed {
    display: grid;
    justify-content: space-between;
    grid-gap: 30px;
    grid-template-columns: 1fr;
}

@include media(">phone", "<=tablet", "screen") {
    .post-feed {
        grid-template-columns: 1fr 1fr;
    }
}
@include media(">tablet", "screen") {
    .post-feed {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
